{% extends 'lmn/base.html' %}
{% load static %}
{% block content %}

  <h2 id="note-page-title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by 
    <a href="{% url 'user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a>
  </h2>

  <p id="note-title"><b>{{ note.title}}</b></p>
  <p id="note-text">{{ note.text }}</p>
  <div class="share-buttons">
    <a href="https://twitter.com/intent/tweet?text={{ note.text }}&url={{ request.build_absolute_uri }}">
      <img src="{% static 'images/twitter.png' %}" alt="Share on Twitter">
      <span>Share this on Twitter</span>
    </a>
    <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}">
      <img src="{% static 'images/facebook.png' %}" alt="Share on Facebook">
      <span>Share this on Facebook</span>
    </a>
    <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}">
      <img src="{% static 'images/instagram.png' %}" alt="Share on Instagram">
      <span>Share this on Instagram</span>
    </a>
  </div>  
{% endblock %}
