{% extends 'lmn/base.html' %}
{% load static %}

{% block content %}
    <h1>Venue List</h1>
    <div>
        <h2>Venue Search</h2>
        <form action="{% url 'venue_list' %}" class="search-form">
            {{ form }}
            <button type="submit">Search</button>
        </form>
        <div class="search-results">
            {% if search_term %}
                <h3 class="search-results-title">Venues matching '{{ search_term }}'  
                    <a href="{% url 'venue_list' %}" class='clear-search'>clear</a>
                </h3>
            {% else %}
                <h3 class="search-results-title">All venues</h3>
            {% endif %}
        </div>
        <div class="venues-list">
            {% for venue in venues %}
                <div class="venue" id="venue-{{ venue.pk }}">
                    <p class="venue-name"><a href="{% url 'venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a></p>
                    <p class="venue-location">{{ venue.city }}, {{ venue.state }}</p>
                    <p class="venue-notes"><a href='{% url "artists_at_venue" venue_pk=venue.pk %}'>See artists, notes, and add your own notes for {{ venue.name }}</a></p>
                </div>
            {% empty %}
                <p class="no-venues-found">No venues found</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
